.wrapper {
    padding: 10px;
}

.header-wrap {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcd7d7;
}
.footer-wrap {
    display: flex;
    padding: 10px;
    justify-content: end;
    align-items: center;
    border-top: 1px solid #dcd7d7;
}

.cart-items {
    height: calc(100vh - 200px - var(--app-header-height));
}

.selected-btn {
    padding: 0 12px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 32px;
    color: #444;
    background-color: rgba(var(--brand-color-rgb), 0.3);
}
.selected-btn:hover {
    background-color: var(--brand-color);
}
.selected-btn:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

.order-btn {
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    line-height: 32px;
    cursor: pointer;
    color: #444;
    transition: background-color 0.3s ease;
    background-color: rgba(var(--brand-color-rgb), 0.3);
}
.order-btn:hover {
    background-color: var(--brand-color);
}
.order-btn:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

.price {
    font-size: 30px;
    font-weight: bold;
}
