.wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    overflow-x: hidden;
    padding-top: var(--app-header-height);
}
@media screen and (max-width: 1230px) {
    .wrapper {
        width: 95vw;
    }
}

