.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: var(--app-header-height);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgb(234, 237, 239);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 60%;
  margin: 0 16px;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.search-input:focus {
  outline: none;
  border-color: #ffb02d;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  color: #9ca3af;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0 18px;
}
.icons-container button {
  padding: 0.5rem;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.icons-container button:hover {
  background-color: rgba(255, 176, 45, 0.28);
}
.icon {
  width: 24px;
  height: 24px;
}
